@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

@import "tailwindcss";
@plugin "daisyui";



@theme {
  --font-lato: Lato, "sans-serif"; 
  --font-gloock: Gloock, "serif"; 
}

.navButton a.active{
  background-color: #D5E880;
  color: black;
}

.category a.active{
  background-color: #2A445E;
  color: white;
  
}


