@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-lato: Lato, "sans-serif"; 
  --font-gloock: Gloock, "serif"; 
}

.navbar a.active{
  color: #1CA8CB;
  text-decoration: underline;
}

.category a.active{
  background-color: #2A445E;
  color: white;
  
}
/* a:hover{
    color: #1CA8CB;
} */

